/* purgecss start ignore */
.w-full {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.border {
  border-width: thin;
  border-style: solid;
}

.rounded {
  border-radius: 0.25em;
}

.text-black {
  color: #22292f;
}

.border-grey-lighter {
  border-color: #ced4da;
}

.bg-grey-lighter {
  background-color: #606f7b;
}

.bg-grey-light {
  background-color: #dae1e7;
}

.bg-grey-dark {
  background-color: #8795a1;
}

.bg-white {
  background-color: #fff;
}

.pin-r {
  right: 0;
}

.pin-y {
  top: 0;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.items-center {
  align-items: center;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25em;
}

.px-1 {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.py-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.px-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.mt-px {
  margin-top: 1px;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.text-left {
  text-align: left;
}

.w-full {
  width: 100%;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.list-reset {
  list-style: none;
  padding: 0;
}

.overflow-auto {
  overflow: auto;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.w-1 {
  width: 0.25em;
}

.w-2 {
  width: 0.5em;
}

.w-3 {
  width: 0.75em;
}

.w-4 {
  width: 1em;
}

.h-4 {
  height: 1em;
}

.h-1 {
  height: 0.25em;
}

.h-2 {
  height: 0.5em;
}

.h-3 {
  height: 0.75em;
}

.fill-current {
  fill: currentColor;
}

.no-underline {
  text-decoration: none;
}

.hover\:no-underline:hover {
  text-decoration: none;
}

.outline-none {
  outline: 0;
}

.hover\:outline-none {
  outline: 0;
}

.hover\:bg-grey-light:hover {
  background-color: #dae1e7;

  @media (prefers-color-scheme: dark) {
    color: #000;
  }
}

.shadow-md {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-input {
  display: block;
  width: 100%;
  padding: 0.375em 0.75em;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background-color: #202428 !important;
    color: #fff !important;
  }
}

.icons {
  padding: 0 1em;
  right: 0;
  top: 0;
  bottom: 0;
  fill: #606f7b;
}

.icons svg {
  width: 0.75em;
  height: 0.75em;
}

.single-select-wrapper {
  position: relative;
  margin-bottom: 0.5em;
}

.required {
  background-color: #fffbfb !important;
  border-color: #f5c6cb !important;

  @media (prefers-color-scheme: dark) {
    background-color: #281e1f !important;
    color: #fff !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  color: #606f7b;
  border-radius: 0.25em;
  line-height: 1.25;
  text-align: left;
  @apply mb-4;

  @media (prefers-color-scheme: dark) {
    background-color: #202428 !important;
    color: #53575A !important;
  }
}

.dropdown > li {
  padding: 0.5em 0.75em;
}

.active {
  background: #dae1e7;

  @media (prefers-color-scheme: dark) {
    background: #44B1E6 !important;
    color: #000 !important;
  }
}
/* purgecss start ignore */
